<section class="account_container">
    <div class="account_text">
        <h1>Tu cuenta</h1>
        <p>Hola {{user.name}}!</p>
    </div>

    <button type="submit" id="logout_btn">Cerrar sesión</button>
</section>

<script src="logout.js"></script>